* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DESKTOP */

.bloque1 {
    background-color: #4388cc;
    height: 5em;
}

.bloque2 {
    background-color: #33ff33;
    height: 2.5em;
}

.bloque3 {
    background-color: #6144ec;
    height: 7em;
}

.bloque3b {
    background-color: #6144ec;
    height: 14em;
}

.bloque4 {
    background-color: #993300;
    height: 7em;    
}

.bloque5 {
    background-color: #ff6666;
    height: 32.5em;
}

.bloque6 {
    background-color: #4388cc;
    height: 2.5em;
}

/* TABLET*/


/* MOBILE*/